.maplist {
  position: relative;
  padding: 3px;
  width: initial;
  height: 91.8vh;
  background-color: #FFFFFF;
}

.maplist-item {
  font-size: larger;
  font-family: sans-serif;
  color: #444444;
  margin: 8px;
}

.selected-maplist-item {
  font-size: larger;
  font-family: sans-serif;
  color: #444444;
  margin: 8px;
}

button {
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: larger;
}
